a {
  color: black;
  text-decoration: none;
}

.jumbotron {
  text-align: center;
  /* background-image: url("https://i.kinja-img.com/gawker-media/image/upload/s--M2YBZqBy--/c_scale,fl_progressive,q_80,w_800/ccwa4jkpnbfwuffd7hfa.jpg") no-repeat; */
}

.main {
  background-image: url("https://i.kinja-img.com/gawker-media/image/upload/s--M2YBZqBy--/c_scale,fl_progressive,q_80,w_800/ccwa4jkpnbfwuffd7hfa.jpg") no-repeat;
}

.save-note {
  display: block;
}

.note-input {
  height: 10em;
  width: 100%;
}

.btn-dark {
  color: white;
}
