a {
  color: black;
  text-decoration: none;
}

.jumbotron {
  text-align: center;
}

.save-note {
  display: block;
}

.note-input {
  height: 10em;
  width: 100%;
}

.onion-image {
  height: 10em;
}
